table-wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

table-wrapper .table-header, 
table-wrapper .table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
